// _variables.scss

$primary-color: #516d57;
$secondary-color: #5C5463;
$background-color:  #9fb59d;
$dropdown-color: #516d57;
$text-primary: #ffffff;
$text-title: #6D4A4A;
$border-color: #B4CAC2;
$tile-background: rgba(255, 255, 255, 0.4);
$box-shadow: #00000033 0px 10px 25px 0px;
$main-font: 'Merriweather', serif;
$black: #9fb59d;
$white: #ffffff;
$blackish-background: #181616;
