// _variables.scss

$primary-color: #B04F2A;
$secondary-color: #5C5463;
$background-color:  #FAF9F7;
$dropdown-color: #e2d5c2;
$text-primary: #000000;
$text-title: #6D4A4A;
$border-color: #B4CAC2;
$tile-background: rgba(255, 255, 255, 0.4);
$box-shadow: #00000033 0px 10px 25px 0px;
$main-font: 'Merriweather', serif;
$black: #212529;
$white: #ffffff;
