

.simple-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
    padding-top: 10px;
    // padding: 10 0;
    margin: 0px;
    border: solid black 1px;
    background-color: lightgray;
    font-size: 18px;
    .smooth-dnd-container {
      width: 100%;
    }
  
    .draggable-item {
      height: 50px;
      line-height: 50px;
      text-align: center;
      display: block;
      background-color: #fff;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, .125);
      margin-bottom: 2px;
      margin-top: 2px;
      cursor: default;
      user-select: none;
  }
  
  .draggable-item-horizontal {
      height: 300px;
      padding: 10px;
      line-height: 100px;
      text-align: center;
      /* width : 200px; */
      display: block;
      background-color: #fff;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, .125);
      margin-right: 4px;
      cursor: default;
  }
  
  // .dragging {
  //     background-color: yellow;
  // }
  
  .card-scene {
      padding: 50px;
      /* background-color: #fff; */
  }
  
  .card-container {
      min-width: 100%;
      // padding: 10px;
      // margin: 5px;
      height: 250px;
      background-color: #f3f3f3;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      .card-column-header {
        font-size: 18px;
    }
  }
  
  .card {
      margin: 1px;
      height: 45px;
      /* border: 1px solid #ccc; */
      // border: solid grey 1px;
      background-color: white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
      padding: 10px;
  }
  
  
  
  .column-drag-handle {
      cursor: move;
      padding: 5px;
  }
  
  .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg)
  }
  
  .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg)
  }
  
  .opacity-ghost {
      transition: all .18s ease;
      opacity: 0.8;
      /* transform: rotateZ(5deg); */
      background-color: cornflowerblue;
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
  }
  
  .opacity-ghost-drop {
      opacity: 1;
      /* transform: rotateZ(0deg); */
      background-color: white;
      box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.0);
  }

  }
  
  .bottom-bar {
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    .delete-area {
      position: fixed;
      background: red;
      height: 175px;
      width: 1fr;
      margin-right: 10px;
      .smooth-dnd-container{
        height: 100px;
        width: 175px;
      }
    }
    .card-carousel {
      margin-left: 175px;
      display: flex;
      flex-flow: row wrap;
      overflow-y: scroll;
      min-height: fit-content;
    }
  }
}
