

.simple-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    padding: 0;
    margin: 0px;
    border: solid black 1px;
    background-color: lightgray;
    grid-gap: 1px;
    display: grid;
    grid-template-columns: repeat(7, minmax(0,1fr));
    grid-template-rows: repeat(3, 82px);
    justify-content: center;

    .smooth-dnd-container {
      // margin-top: 10px;
      // height: 75px;
      // min-width: 50px;
      .smooth-dnd-draggable-wrapper {
        // height: 75px;
        //   min-width: 50px;
        .draggable-item {
          height: 80px;
          // min-width: 50px;
          border: solid black 1px;

        }
      }
  }

  }
  
  .bottom-bar {
    margin-top: 400px;
    display: flex;
    flex-direction: row;
    .delete-area {
      background: red;
      height: 100px;
      width: 100px;
    }
    .card-carousel {
      display: flex;
      flex-flow: row wrap;
      overflow-y: scroll;
      min-height: fit-content;
      .draggable-item {
        height: 200px;
        width: 200px;
        border: solid 1px black;
        margin: 2px;
        background-color: lightblue;
      }
    }
  }
}