@import "partials/_variables.scss";

.simple-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .menu {
    #save-area {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 30px;
      z-index: 2;
      margin-bottom: 10px;
      label {
        font-size: 14px;
      }
      #meal-plan-selector {
        width: 150px;
        border-radius: 34px;
        border: 1px solid #e6e6e6;
        padding: 0 1em;
      }
      #save-form {
        display: flex;
        flex-direction: row;
        .form-input {
          border-radius: 34px;
          border: 1px solid #e6e6e6;
          padding: 0 1em;
          width: 200px;
        }
        .btn {
          background-color: #6b7d83;
          margin-left: 10px;
          border-radius: 34px;
          border: 2px solid #e6e6e6;
          width: 6.5em;
          cursor: pointer;
          color: $white;
        }
      }
    }
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 260px;
    z-index: 1;
    padding-top: 10px;
    margin: 0px;
    border: solid black 1px;
    background-color: lightgray;
    font-size: 18px;
    overflow-x: scroll;
    overflow-y: hidden;
    .smooth-dnd-container {
      width: 200px; //width of columns
      .smooth-dnd-draggable-wrapper {
        .card-container {
          min-width: 100%;
          height: 220px;
          background-color: lightgrey;
          .card-column-header{
            text-align: center;
          }
          .smooth-dnd-container {
            .smooth-dnd-draggable-wrapper {
              .card {
                display: flex;
                align-items: center;
                margin: 1px;
                height: 45px;
                background-color: whitesmoke;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
                padding: 10px;
                word-break: normal;
                cursor: default;
                a {
                  position:relative;
                  top: -20px;
                  right: -97%;
                  color: grey;
                  &:hover {
                    color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .card-ghost {
    height: 55px;
    background-color: white;
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)
  }
  
  .card-ghost-drop {
    height: 55px;
    transition: transform 0.18s ease-in-out;
    transform: rotateZ(0deg)
  }
  .bottom-bar {
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .smooth-dnd-container{
      margin-left: 50px;
      display: flex;
      flex-flow: row wrap;
      overflow-y: scroll;
      .smooth-dnd-draggable-wrapper {
        height: 230px;
        .card {
          text-align: center;
          margin: 3px;
          height: 225px;
          width: 200px;
          background-color: whitesmoke;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
          border-radius: 5px;
          .recipe-card {
            height: 250px;
            cursor: default;
            img {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              max-width: 200px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
