
.carousel-background {
  background: $blackish-background;
}

.recipe-carousel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}


