@import "partials/_variables.scss";

.recipe-display{
  background-color:$white;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  .grid-container {
    width: 50%;
    overflow-y: scroll;
    height: 600px;
    padding: 20px;

    h1 {
      font-size: 50px;
      color: $secondary-color;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    p {
      color: $text-primary;
      margin: 5px 0px;
    }
    #ingredients {
      margin: 20px 10px;
      font-size: 20px;
      .ingredient {
        margin: 10px 0px;
      }
    }
    img {
      max-width: 100%;

    }
    .summary {
      margin: 20px 0;
      font-size: 18px;
      font-style: italic;
    }
    .prep {
      margin: 20px 0px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}
.save-button {
  padding-top: 15px;
  padding-left: 50px;
  width: 100%;
  height: 100px;
  background-color:$white;
  input {
    background-color: #6b7d83;
    color: $white;
    border-radius: 34px;
    border: 2px solid #e6e6e6;
    width: 150px;
    padding: 2px 15px;
    &:hover {
      cursor: pointer;
      background-color: darkgrey;
    }
  }
}