
@import "./partials/variables";

.main {
  background-color: $blackish-background;
  padding: 20px 0;
  min-height: 1000px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

div {
  font-family: karlaregular,sans-serif;
  font-size: 1em;
  width: 100%;
}

h2 {
  color: white;
  font-family: $main-font;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  height: 2.5em;
  padding: 5px;
  // padding-left: 17%;
}

.search-box {
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 60%;  
  max-width: 300px;
  padding: 0 1em;
  align-items: center;
}

.btn-round {
  background-color: fff;
  margin-left: 10px;
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 6.5em;
}

.search-error-msg {
    margin: 2em
  }


