
@import "./partials/variables";

div {
  font-family: karlaregular,sans-serif;
  font-size: 1em;
  width: 100%;
}

h2 {
  color: white;
  font-family: $main-font;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  height: 2.5em;
  padding: 5px;

}

.search-box {
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 60%;  
  padding: 0 1em;
}

.btn-round {
  background-color: fff;
  margin-left: 10px;
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 6.5em;
}

.search-error-msg {
    margin: 2em
  }

.page-colour {
  background-color: $blackish-background;
  padding: 20px;
  min-height: 1000px;
  height: 100%;
  width: 100%;
}
