input[type=text] {
  width: 10%;
  padding: 1.5em 10em;
  margin: 8px 0;
  box-sizing: border-box;
}

.ingredients-list {
  margin: 4px 4px;
  padding: .75em;
}

.ingredients-list-item {

}

.btn {
-moz-box-shadow: inset -3px -3px 10px #cc870a;
-webkit-box-shadow: inset -3px -3px 10px #cc870a;
box-shadow: inset -3px -3px 10px #cc870a;
background-color: #fff; 
border-radius: 15px; /* Rounded button edges */
font-style: italic; /* Italicize text */
padding: 10px 30px; /* Distance between text and border */
}
