.btn {
  background-color: #6b7d83;
  color: #ffffff;
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 6.5em;
}

.btn:hover {
  cursor: pointer;
  background-color: darkgrey;
}

.submit-scrape {
  margin-top: 1em;
  width: 120px;
  height: 25px;
}

#submit-form-btn .btn {
  padding: 5px;
  width: 150px;
}

input.input100.small-field {
  height: 30px;
  width: 50%;
}

input.input100.large-field {
  min-height: 50px;
  width: 100%;
  word-wrap: break-word;
}

.error-message {
  margin-bottom: 10px;
}

.error-messages {
  color: red;
}

input {
  outline: none;
  border: none;
}

textarea {
  height: 50px;
  outline: none;
  border: none;
}

textarea.small-field {
  width: 50%;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.wrap-contact100 {
  max-width: 960px;
  background: #fff;
  border-radius: 2px;
  position: relative;
}

/*==================================================================
[ Form ]*/
.contact100-form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4em;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 90%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: karlaregular;
  font-size: 14px;
  color: #555555;
  line-height: 1;
}

.input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;
  font-family: karlaregular;
  font-size: 14px;
  color: #686868;
  line-height: 1.2;
  padding: 0 10px;
  margin-top: 10px;
}

input.input100 {
  height: 30px;
}

textarea.input100 {
  min-height: 50px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #e6e6e6;
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}
