.recipe-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20px;
}

.recipe-display .grid-container {
  width: 50%;
  overflow-y: scroll;
  height: 600px;
  padding: 20px;
}

.recipe-display .grid-container h1 {
  font-size: 50px;
  color: #5C5463;
  margin-bottom: 20px;
  margin-top: 10px;
}

.recipe-display .grid-container p {
  color: black;
  margin: 5px 0px;
}

.recipe-display .grid-container #ingredients {
  margin: 20px 10px;
  font-size: 20px;
}

.recipe-display .grid-container #ingredients .ingredient {
  margin: 10px 0px;
}

.recipe-display .grid-container img {
  max-width: 100%;
}

.recipe-display .grid-container .summary {
  margin: 20px 0;
  font-size: 18px;
  font-style: italic;
}

.recipe-display .grid-container .prep {
  margin: 20px 0px;
  font-size: 18px;
  line-height: 20px;
}

.save-button {
  margin-top: 10px;
  margin-left: 50px;
  width: 100%;
  height: 100px;
}

.save-button a {
  background-color: #6b7d83;
  color: #ffffff;
  border-radius: 34px;
  border: 2px solid #e6e6e6;
  width: 1000px;
  padding: 2px 15px;
}

.save-button a:hover {
  cursor: pointer;
  background-color: darkgrey;
}
